# Závislosti
node_modules
.pnp
.pnp.js

# Produkční build
dist
build

# Logy
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor adresáře a soubory
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lokální soubory prostředí
.env
.env.local
.env.development.local
.env.test.local
.env.production.local